body {
  margin: 0;
  background-color: #81c784;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-image {
  font-size: 70rem;
  text-transform: uppercase;
  font-weight: bolder;
  position: fixed;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  background: url(assets/images/bg-letter.jpg) 60%;
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text;
  z-index: -40;
}

.brand-logo {
  font-family: "Major Mono Display", monospace;
}

nav li {
  letter-spacing: 1.2px;
}

.form-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container form {
  width: 600px;
}

.form-title {
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.form-container .btn {
  width: 200px;
}

.form-container .input-field input,
.form-container .input-field textarea {
  border-bottom: 1px solid white;
}

.form-container .input-field label {
  letter-spacing: 2px;
}
