body {
  margin: 0;
  background-color: #81c784;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-letter {
  position: fixed;
  top: 80%;
  left: 90%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  font-size: 100em;
  font-weight: bold;
  background: url(/src/assets/images/bg3.jpg) 32%;
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
}
